body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.33;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

.container-hero {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 320px) {
  .container-hero {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container-hero {
    width: 768px;
    padding-left: 216px;
    padding-right: 216px;
  }
}

@media screen and (min-width: 1024px) {
  .container-hero {
    width: 1024px;
    padding-left: 344px;
    padding-right: 344px;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.hero {
  padding-bottom: 50px;
}

@media screen and (min-width: 1024px) {
  .hero {
    padding-bottom: 40px;
  }
}

.header__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 37px;
}

.header__body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(/images/header/mobileheader.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/images/header/mobileheader.jpeg);
  padding-top: 48px;
  padding-bottom: 101px;
  background-size: 100% 100%;
}

.header__button {
  text-align: center;
}

.nav__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  font-weight: 500;
  font-size: 8px;
  line-height: 1.16;
  text-transform: uppercase;
  color: #ffff;
}

.nav__list {
  position: relative;
}

.nav__list:not(:last-child) {
  margin-right: 9px;
}

.icon-film {
  width: 24px;
  height: 24px;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  display: none;
}

.user-lastname {
  margin-left: 6px;
}

.icon-user {
  fill: #ffff;
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.nav__link {
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #ff6b08;
  border-radius: 2px;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.header-form__text {
  width: 280px;
  background: none;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  color: #ffff;
}

.header-form__text::-webkit-input-placeholder {
  color: #ffff;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 4px;
}

.header-form__text:-ms-input-placeholder {
  color: #ffff;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 4px;
}

.header-form__text::-ms-input-placeholder {
  color: #ffff;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 4px;
}

.header-form__text::placeholder {
  color: #ffff;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 4px;
}

.header-form__text:hover,
.header-form__text:focus {
  border-bottom: 0.5px solid #1839f5;
  outline: none;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.icon-magnifier {
  width: 12px;
  height: 12px;
}

.serch {
  background-color: initial;
  border: none;
  margin-left: -21px;
}

.header-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .header__body {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(/images/header/tabletheader.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/images/header/tabletheader.jpeg);
    padding-top: 41px;
    padding-bottom: 97px;
  }
  .header__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #ffff;
    margin-left: 12px;
  }
  .nav__title {
    font-size: 12px;
  }
  .nav__list:not(:last-child) {
    margin-right: 39px;
  }
  .icon-user {
    margin-right: 8px;
  }
  .header-form__text {
    width: 336px;
  }
  .header-form__label {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .header__body {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(/images/header/rectangle.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/images/header/rectangle.jpeg);
  }
}

.header__body-lib {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(/images/header/mylibheadmobile.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/images/header/mylibheadmobile.jpeg);
  padding-top: 48px;
  padding-bottom: 65px;
  background-size: 100% 100%;
}

.header__serch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button__watch {
  padding: 14px 36px;
  background-color: initial;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  margin-right: 20px;
}

.button__watch:hover,
.button__watch:focus {
  background-color: #ff6b01;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.button__queue {
  padding: 14px 36px;
  background-color: initial;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.button__queue:hover,
.button__queue:focus {
  background-color: #ff6b01;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

@media screen and (min-width: 768px) {
  .button__watch {
    margin-right: 15px;
  }
  .header__body-lib {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(/images/header/mylibtabl.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/images/header/mylibtabl.jpeg);
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1024px) {
  .header__body-lib {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(/images/header/mylibdesk.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/images/header/mylibdesk.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

.footer {
  background-color: #f7f7f7;
  padding-top: 29px;
  padding-bottom: 29px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__first-text-box {
  margin-bottom: 10x;
}

@media screen and (min-width: 768px) {
  .footer__first-text-box {
    margin-bottom: 0;
    margin-right: 4px;
  }
}

.footer__second-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__text {
  font-size: 14px;
  line-height: 1.14;
  color: #545454;
}

@media screen and (min-width: 768px) {
  .footer__text {
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-left: 4px;
}

.footer__svg {
  fill: #ff6b08;
  width: 14px;
  height: 14px;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.gallery {
  padding-bottom: 50px;
}

@media screen and (min-width: 1024px) {
  .gallery {
    padding-bottom: 40px;
  }
}

.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: -15px;
}

.gallery-list__item {
  display: block;
  height: 440px;
  width: 280px;
  background-color: black;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .gallery-list__item {
    width: 294px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery-list__item {
    width: 274px;
  }
}
/*# sourceMappingURL=index.css.map */