//animatiom

$time-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//keyframes
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes switch {
  0% {
    left: 4px * $dark-button-scale;
  }
  60% {
    left: 4px * $dark-button-scale;
    width: 112px * $dark-button-scale;
  }
  100% {
    left: 104px * $dark-button-scale;
    width: 82px * $dark-button-scale;
  }
}
@keyframes reverse {
  0% {
    left: 104px * $dark-button-scale;
    width: 82px * $dark-button-scale;
  }
  60% {
    left: 72px * $dark-button-scale;
    width: 112px * $dark-button-scale;
  }
  100% {
    left: 4px * $dark-button-scale;
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: 822;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes palitre-current {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes palitre-ring {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes palitre-current-dot {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes palitre-left {
  0% {
    opacity: 0;
    transform: translate(-40%, -52%) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translate(-52%, -52%) scale(1);
  }
}
@keyframes palitre-right {
  0% {
    opacity: 0;
    transform: translate(-60%, -48%) scale(0.9) rotate(180deg);
  }
  100% {
    opacity: 1;
    transform: translate(-48%, -48%) scale(1) rotate(180deg);
  }
}
@keyframes myFilmAnime {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }

  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}
