// root
:root {
  /** sunny side **/
  --blue-background: #00bfff;
  --blue-border: #72cce3;
  --blue-color: #96dcee;
  --yellow-background: #fffaa8;
  --yellow-border: #f5eb71;
  /** dark side **/
  --indigo-background: #808fc7;
  --indigo-border: #5d6baa;
  --indigo-color: #6b7abb;
  --gray-border: #e8e8ea;
  --gray-dots: #e8e8ea;
  /** general **/
  --white: #fff;
  --button: #ff6b01;
  --clear-accent-color: #ff6b01;
  --background: #ffffff;
  --footer-background: ##f7f7f7;
  --third-text-color: #545454;
  --primary-text-color: #000000;
  --gallery-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

//text
$primary-text-color: var(--primary-text-color);
$secondary-text-color: #8c8c8c;
$third-text-color: var(--third-text-color);
// $selection-text-color: #ff6b01;
$selection-text-color: var(--button);
$form-text-color: #ffffff;
$warning-text-color: #ff001b;

//title
$primary-title-text-color: var(--primary-text-color);
$secondary-title-text-color: #ffffff;

//accent

// $accent-color: #ff6b08;
$accent-color: var(--button);
$accent-btn-color: var(--background);
$second-accent-btn-color: var(--button);

//background
$primary-background-color: var(--background);
// $secondary-background-color: #ff6b08;
$secondary-background-color: var(--button);
$third-background-color: inherit;
$fourth-background-color: var(--footer-background);
$sixes-background-color: #000000;

//svg-fill
// $primary-svg-color: #ff6b08;
$primary-svg-color: var(--button);

//buttons
$primary-btn-color: inherit;
// $active-btn-color: #ff6b08;
$active-btn-color: var(--button);
$arrow-btn-color: var(--footer-background);
$primary-btn-text-color: var(--primary-text-color);
$active-btn-text-color: #ffffff;

//logo
$primary-logo-color: #000000;
$secondary-logo-color: #8d8d8d;

//border
$primary-border-color: #676767;
$button-border: 1px solid var(--primary-text-color);

//input
$placeholder-color: #ffffff;

// backdrop
$backdrop-color: rgba(0, 0, 0, 0.25);

// toggle
$global-toggle-background-color-on: $second-accent-btn-color;
$global-toggle-background-color-off: $secondary-text-color;
$global-toggle__label-color: $accent-btn-color;
$global-toggle-width: 70px;
$global-toggle-height: 35px;
$global-toggle-gutter: 5px;
$global-toggle-radius: 50%;
$global-toggle__label-speed: 0.15s;
$global-toggle__label-ease: ease-in;
$global-toggle-radius: $global-toggle-height / 2;
$global-toggle__label-size: $global-toggle-height - ($global-toggle-gutter * 2);

// dark-theme toggle
$dark-button-scale: 0.4;

//shadow
$container-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
$gallery-card-shadow: var(--gallery-card-shadow);
// spinner
$spinner-primary-color: var(--button);
