// root

//text
$primary-text-color: #000000;
$secondary-text-color: #8c8c8c;
$third-text-color: #545454;
$selection-text-color: #ff6b08;
$form-text-color: #ffffff;

//title
$primary-title-text-color: #000000;
$secondary-title-text-color: #ffffff;

//accent

$accent-color: #ff6b08;
$accent-btn-color: #ffffff;

//background
$primary-background-color: #ffffff;
$secondary-background-color: #ff6b08;
$third-background-color: inherit;
$fourth-background-color: #f7f7f7;

//svg-fill
$primary-svg-color: #ff6b08;

//logo
$primary-logo-color: #000000;
$secondary-logo-color: #8d8d8d;

//border
$primary-border-color: #676767;

//input
$placeholder-color: #ffffff;

// backdrop
$backdrop-color: #efefef;
