<section class='hero hero--home hero--my-library'>
  <div class='container-hero'>
    <div class="hero__wrap"></div>
  </div>
</section>
<section class='gallery'>
  <div class='container'>
    <ul class="gallery-list">
      {{!-- when working with a gallery, delete the contents of gallery-list but keep the class gallery-item --}}
      <li class="gallery-list__item"></li>
      <li class="gallery-list__item"></li>
      <li class="gallery-list__item"></li>
      <li class="gallery-list__item"></li>
      <li class="gallery-list__item"></li>
      <li class="gallery-list__item"></li>
      <li class="gallery-list__item"></li>
      <li class="gallery-list__item"></li>
      <li class="gallery-list__item"></li>
      <li class="gallery-list__item"></li>
      <li class="gallery-list__item"></li>
    </ul>
  </div>
</section>