<section class='hero'>
  <div class='container-hero'></div>
</section>
<section class='gallery'>
  <div class='container'>
    <ul class="gallery-list">
      {{!-- when working with a gallery, delete the contents of gallery-list but keep the class gallery-item --}}
      {{!-- <li class="gallery-list__item"></li>
      <li class="gallery-list__item"></li>
      <li class="gallery-list__item"></li>
      <li class="gallery-list__item"></li>
      <li class="gallery-list__item"></li>
      <li class="gallery-list__item"></li>
      <li class="gallery-list__item"></li>
      <li class="gallery-list__item"></li>
      <li class="gallery-list__item"></li>
      <li class="gallery-list__item"></li>
      <li class="gallery-list__item"></li> --}}
    </ul>
  </div>
</section>