<a class='nav__link' href=''>
  <svg class='icon-user' width='16' height='12'>
    <use href='../src/images/svg/sprite.svg/#icon-user'></use>
  </svg>
  <p class='user-name'>
    name
  </p>
  <p class='user-lastname'>
    lastname
  </p>
</a>