<a class='nav__link' href=''>
  <svg class='icon-user' width='16' height='12'>
    <use href='../src/images/svg/sprite.svg/#icon-user'></use>
  </svg>
  <p class='user-name'>
    name
  </p>
  <p class='user-lastname'>
    lastname
  </p>
</a>
<form class='search-form' id='search-form'>
  <input class="search-form__input"
    type='text'
    name='query'
    autocomplete='off'
    placeholder='Поиск фильмов'
  />
    <button type='submit' class='search-form__button'>
    <svg class='search-form__icon'>
      <use href={{{searchSvg}}}#icon-search></use>
    </svg>
    </button>
</form>
