<ul class="hero-library__buttons-thumb">
<li><button class="hero-library__button hero-library__button--watched is-active" type="button"
    data-action="watched">watched</button></li>
<li>
    <button class="hero-library__button hero-library__button--queue" type="button" data-action="queue">queue</button>
</li>

</ul>