<div class="hero-library__buttons-thumb">
<button class="hero-library__button hero-library__button--watched" type="button">Watched</button>
<button class="hero-library__button hero-library__button--queue" type="button">queue</button>
</div>