<form class='search-form' id='search-form'>
  <input
    type='text'
    name='query'
    autocomplete='off'
    placeholder='Поиск фильмов'
  />
  <button type='submit' class='search-btn'>
    <svg class='search-icon'>
      <use href='../../images/svg/sprite.svg#icon-search-2'></use>
    </svg>
  </button>
</form>