<form class='search-form' id='search-form'>
  <input class="search__input"
    type='text'
    name='query'
    autocomplete='off'
    placeholder='Поиск фильмов'
  />
    <button type='submit' class='search__button'>
    <svg class='search-icon'>
      <use href={{{searchSvg}}}#icon-search></use>
    </svg>
    </button>
</form>