<div class='modal-theme'>
  <form name='theme'>

    <div class='modal-one-movie__button-box'>
      <button class='modal-one-movie__button'>Add to watched</button>
      <button class='modal-one-movie__button'>Add to queue</button>
    </div>
  </form>
</div>