<div class='backdrop js-backdrop'>
  <div class='modal'>
    <h2>
      Modal Window
    </h2>
    <form class='header-form'>
      <label for='Email' class='modal-form__label'>
        <input
          type='email'
          class='modal-form__text'
          name='Email'
          id='email'
          placeholder='Email'
        />
      </label>
      <label for='Name' class='modal-form__label'>
        <input
          type='text'
          class='modal-form__text'
          name='Name'
          id='name'
          placeholder='Name'
        />
      </label>
      <label for='LastName' class='modal-form__label'>
        <input
          type='text'
          class='modal-form__text'
          name='LastName'
          id='last-name'
          placeholder='Last Name'
        />
      </label>
      <label for='Password' class='modal-form__label'>
        <input
          type='password'
          class='modal-form__text'
          name='Password'
          id='password'
          placeholder='password'
        />
      </label>
    </form>
    <button type='button' class='button' data-action='close-modal'>
      close
    </button>
  </div>
</div>