<div class='modal-one-movie'>
  <div class='modal-one-movie__image-box'><img
      src=''
      alt='cover'
      class='modal-one-movie__image'
    /></div>

  <div class='modal-one-movie__text-box'>
    <h3 class='modal-one-movie__title'>A fistul OF LEAD</h3>
    <div class='modal-one-movie__list-box'>
      <ul class='modal-one-movie__first-list'>
        <li class='modal-one-movie__item'><p
            class='modal-one-movie__text-box'
          >Vote / Votes</p></li>
        <li class='modal-one-movie__item'><p
            class='modal-one-movie__text-box'
          >Popularity</p></li>
        <li class='modal-one-movie__item'><p
            class='modal-one-movie__text-box'
          >Original title</p></li>
        <li class='modal-one-movie__item'><p
            class='modal-one-movie__text-box'
          >Genre</p></li>
      </ul>
      <ul class='modal-one-movie__second-list'>
        <li class='modal-one-movie__item'>
          <p class='modal-one-movie__text-box'><span
              class='modal-one-movie__text-box-accent'
            >7.3</span>1260</p>
        </li>
        <li class='modal-one-movie__item'><p
            class='modal-one-movie__text-box'
          >100.2</p></li>
        <li class='modal-one-movie__item modal-one-movie__original-title'><p
            class='modal-one-movie__text-box'
          >A fistul OF LEAD</p></li>
        <li class='modal-one-movie__item'><p
            class='modal-one-movie__text-box'
          >Western</p></li>
      </ul>
    </div>
    <p class='modal-one-movie__about'>About</p>
    <p class='modal-one-movie__about-text'>
      Four of the West’s most infamous outlaws assemble to steal a huge stash of
      gold from the most corrupt settlement of the gold rush towns. But not all
      goes to plan one is killed and the other three escapes with bags of gold
      hide out in the abandoned gold mine where they happen across another gang
      of three – who themselves were planning to hit the very same bank! As
      tensions rise, things go from bad to worse as they realise the bags of
      gold are filled with lead... they’ve been double crossed – but by who and
      how?
    </p>
    <div class='modal-one-movie__button-box'>
      <button class='modal-one-movie__button'>Add to watched</button>
      <button class='modal-one-movie__button'>Add to queue</button>
    </div>
  </div>
</div>