<div class="trailer_backdrop">
    <div class='trailer_modal'>
        <iframe class="youtube-frame" src="https://www.youtube.com/embed/{{url}}" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <button class="close-trailer-btn">
            <svg class="icon-close-modal" width="50px" height="50px">
                <use href="{{svg}}#icon-x"></use>
            </svg>
        </button>
    </div>
</div>