<div class="filter container">
    <div class="filter__movie-sort card ">
        <a href="" class="filter-link__sort">Сортировать
            {{!-- <svg class="filter-link__play">
                <use href="{{{svgPlay}}}#icon-playfilter"></use>
            </svg> --}}
        </a>
        <ul class="filter-list__sort">
            <li class="filter-item__sort" data-atribute='popularity.desc'>Популярности (убывание)</li>
            <li class="filter-item__sort" data-atribute='popularity.asc'>Популярности(возрастание)</li>
            <li class="filter-item__sort" data-atribute='primary_release_date.desc'>Дате выпуска (убывание)</li>
            <li class="filter-item__sort" data-atribute='primary_release_date.asc'>Дате выпуска (возрастание)</li>
            <li class="filter-item__sort" data-atribute='original_title.asc'>Названию (А-Я)</li>
            <li class="filter-item__sort" data-atribute='original_title.desc'>Названию (Я-А)</li>
        </ul>
    </div>
    <div class="filter__movie-genres">
        <a href="" class="filter-link__genres">Жанр</a>
        <ul class="filter-list__genres">
            <li class="filter-item__genres" id='28'>Action</li>
            <li class="filter-item__genres" id='12'>Adventure</li>
            <li class="filter-item__genres" id='16'>Animation</li>
            <li class="filter-item__genres" id='35'>Comedy</li>
            <li class="filter-item__genres" id='80'>Crime</li>
            <li class="filter-item__genres" id='99'>Documentary</li>
            <li class="filter-item__genres" id='18'>Drama</li>
            <li class="filter-item__genres" id='10751'>Family</li>
            <li class="filter-item__genres" id='14'>Fantasy</li>
            <li class="filter-item__genres" id='36'>History</li>
            <li class="filter-item__genres" id='27'>Horror</li>
            <li class="filter-item__genres" id='10402'>Music</li>
            <li class="filter-item__genres" id='9648'>Mystery</li>
            <li class="filter-item__genres" id='10749'>Romance</li>
            <li class="filter-item__genres" id='878'>Science Fiction</li>
            <li class="filter-item__genres" id='10770'>TV Movie</li>
            <li class="filter-item__genres" id='53'>Thriller</li>
            <li class="filter-item__genres" id='10752'>War</li>
            <li class="filter-item__genres" id='37'>Western</li>
        </ul>
    </div>
    <div class="filter__movie-year">
        <a href="" class="filter-link__year">Год</a>
        <ul class="filter-list__year">
            <li>2021</li>
            <li>2020</li>
            <li>2019</li>
            <li>2018</li>
            <li>2017</li>
            <li>2016</li>
            <li>2015</li>
            <li>2014</li>
            <li>2013</li>
            <li>2012</li>
            <li>2011</li>
            <li>2010</li>
            <li>2009</li>
            <li>2008</li>
            <li>2007</li>
            <li>2006</li>
            <li>2005</li>
            <li>2004</li>
            <li>2003</li>
            <li>2002</li>
            <li>2001</li>
            <li>2000</li>
            <li>1999</li>
            <li>1998</li>
            <li>1997</li>
            <li>1996</li>
            <li>1995</li>
            <li>1994</li>
            <li>1993</li>
            <li>1992</li>
            <li>1991</li>
            <li>1990</li>
            <li>1989</li>
            <li>1988</li>
            <li>1987</li>
            <li>1986</li>
            <li>1985</li>
            <li>1984</li>
            <li>1983</li>
            <li>1982</li>
            <li>1981</li>
            <li>1980</li>
            <li>1979</li>
            <li>1978</li>
            <li>1977</li>
            <li>1976</li>
            <li>1975</li>
            <li>1974</li>
            <li>1973</li>
            <li>1972</li>
            <li>1971</li>
            <li>1970</li>
            <li>1969</li>
            <li>1968</li>
            <li>1967</li>
            <li>1966</li>
            <li>1965</li>
            <li>1964</li>
            <li>1963</li>
            <li>1962</li>
            <li>1961</li>
            <li>1960</li>
            <li>1959</li>
            <li>1958</li>
            <li>1957</li>
            <li>1956</li>


        </ul>
    </div>

</div>