<div class="filter container">
    <h3 class="hero__tittle--hide">Filter Movie</h3>
    <div class='filter-inputs'>
        <div class="filter__movie-sort card ">
            <input class="filter-input__sort" name="sort" placeholder="Sort by" readonly>
            <svg class="filter-icon" width="18px" height="18px">
                <use href="{{svg}}#icon-down-arrow"></use>
            </svg>
            <ul class="filter-list__sort">
                <li class="filter-item__sort" data-atribute='popularity.desc'>Popularity (decreasing)</li>
                <li class="filter-item__sort" data-atribute='popularity.asc'>Popularity (increasing)</li>
                <li class="filter-item__sort" data-atribute='primary_release_date.desc'>Release date (decreasing)</li>
                <li class="filter-item__sort" data-atribute='primary_release_date.asc'>Release date (ascending)</li>
                <li class="filter-item__sort" data-atribute='original_title.asc'>Name (A-Z)</li>
                <li class="filter-item__sort" data-atribute='original_title.desc'>Name (Z-A)</li>
            </ul>
        </div>
        <div class="filter__movie-genres">
            <input class="filter-input__genres" name="genre" placeholder="Select genre" readonly>
            <svg class="filter-icon" width="18px" height="18px">
                <use href="{{svg}}#icon-down-arrow"></use>
            </svg>
            <ul class="filter-list__genres">
                <li class=" filter-item__genres" id='28'>Action</li>
                <li class="filter-item__genres" id='12'>Adventure</li>
                <li class="filter-item__genres" id='16'>Animation</li>
                <li class="filter-item__genres" id='35'>Comedy</li>
                <li class="filter-item__genres" id='80'>Crime</li>
                <li class="filter-item__genres" id='99'>Documentary</li>
                <li class="filter-item__genres" id='18'>Drama</li>
                <li class="filter-item__genres" id='10751'>Family</li>
                <li class="filter-item__genres" id='14'>Fantasy</li>
                <li class="filter-item__genres" id='36'>History</li>
                <li class="filter-item__genres" id='27'>Horror</li>
                <li class="filter-item__genres" id='10402'>Music</li>
                <li class="filter-item__genres" id='9648'>Mystery</li>
                <li class="filter-item__genres" id='10749'>Romance</li>
                <li class="filter-item__genres" id='878'>Science Fiction</li>
                <li class="filter-item__genres" id='10770'>TV Movie</li>
                <li class="filter-item__genres" id='53'>Thriller</li>
                <li class="filter-item__genres" id='10752'>War</li>
                <li class="filter-item__genres" id='37'>Western</li>
            </ul>
        </div>
        <div class="filter__movie-year">
            <input class="filter-input__year" name="year" placeholder="Select year" readonly>
            <svg class="filter-icon" width="18px" height="18px">
                <use href="{{svg}}#icon-down-arrow"></use>
            </svg>
            <ul class="filter-list__year">
                {{#each filterItem.year}}
                <li class="filter-item__year">{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
    <button class="button__filter-clear" type="button">Clear all filters</button>
</div>