<div class="filter container">
    <div class="filter__sort card ">
        <h2 class="filter-title__sort">Сортировать по:</h2>
        <ul class="filter-list__sort">
            <li class="filter-item__sort" data-atribute='popularity-desc'>Популярности (убывание)</li>
            <li class="filter-item__sort" data-atribute='popularity.asc'>Популярности(возрастание)</li>
            <li class="filter-item__sort" data-atribute='primary_release_date.desc'>Дате выпуска (убывание)</li>
            <li class="filter-item__sort" data-atribute='primary_release_date.asc'>Дате выпуска (возрастание)</li>
            <li class="filter-item__sort" data-atribute='original_title.desc'>Названию (А-Я)</li>
            <li class="filter-item__sort" data-atribute='original_title.asc'>Названию (Я-А)</li>
        </ul>
    </div>

    <div class="filter__movie-genres">
        <h2 class="filter-title__genres">Жанры</h2>
        <ul class="filter-list__genres">
            <li class="filter-item__genres" id='28'>Action</li>
            <li class="filter-item__genres" id='12'>Adventure</li>
            <li class="filter-item__genres" id='16'>Animation</li>
            <li class="filter-item__genres" id='35'>Comedy</li>
            <li class="filter-item__genres" id='80'>Crime</li>
            <li class="filter-item__genres" id='99'>Documentary</li>
            <li class="filter-item__genres" id='18'>Drama</li>
            <li class="filter-item__genres" id='10751'>Family</li>
            <li class="filter-item__genres" id='14'>Fantasy</li>
            <li class="filter-item__genres" id='36'>History</li>
            <li class="filter-item__genres" id='27'>Horror</li>
            <li class="filter-item__genres" id='10402'>Music</li>
            <li class="filter-item__genres" id='9648'>Mystery</li>
            <li class="filter-item__genres" id='10749'>Romance</li>
            <li class="filter-item__genres" id='878'>Science Fiction</li>
            <li class="filter-item__genres" id='10770'>TV Movie</li>
            <li class="filter-item__genres" id='53'>Thriller</li>
            <li class="filter-item__genres" id='10752'>War</li>
            <li class="filter-item__genres" id='37'>Western</li>
        </ul>
    </div>
</div>