.footer {
  padding-top: 29px;
  padding-bottom: 29px;
  background-color: $fourth-background-color;
  max-width: 1024px;
  margin: 0 auto;
  @media screen and (min-width: $desktop-only) {
    max-width: $desktop-only;
  }
}


.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  @media screen and (min-width: $tablet-general) {
    flex-direction: row;
    justify-content: center;
  }
}

.footer__first-text-box {
  margin-bottom: 10px;
  display: flex;
  @media screen and (min-width: $tablet-general) {
    margin-bottom: 0;
  }
}

.footer__second-text-box {
  display: flex;
}

.footer__text {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  color: $third-text-color;
  @media screen and (min-width: $tablet-general) {
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer__text--vertical-line {
  &::after {
    content: '|';
    margin: 0 5px;
  }
}

.footer__link {
  text-decoration-line: underline;
  margin-left: 4px;
}

.footer__svg {
  fill: $accent-color;
  width: 14px;
  height: 14px;
  margin: 0 10px;
  display: flex;
  align-self: center;
  animation-name: heartbeat;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}
