.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header__wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__body {
  padding-top: 48px;
  background-size: 100% 100%;
}

.header__button {
  text-align: center;
}
.nav {
  display: flex;
}

.nav__login {
  background: none;
  border: none;
  display: flex;
  font-weight: 500;
  line-height: 1.16;
  text-transform: uppercase;
  margin-right: 30px;
}

.nav__title {
  display: flex;
  font-weight: 500;
  font-size: 8px;
  line-height: 1.16;
  text-transform: uppercase;
}
.nav__list {
  position: relative;
  display: flex;
  cursor: pointer;
}

.nav__list:not(:last-child) {
  margin-right: 9px;
}
.icon-film {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  display: flex;
  align-self: center;
  animation-name: heartbeat;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
}

.header__hero {
  display: none;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  align-items: center;
  text-align: center;
  color: $form-text-color;
  margin-left: 12 px;
}

.user-lastname {
  margin-left: 6px;
}
.icon-user {
  fill: $form-text-color;
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.nav__link {
  color: $form-text-color;
  display: flex;
}

.nav__current:first-child:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.hidden {
  display: none;
  opacity: 0;
  // visibility: hidden;
}
.serch {
  background-color: initial;
  border: none;
  margin-left: -21px;
}
.header-form__label {
  display: flex;
}

@media screen and (min-width: $tablet-general) {
  .header__body {
    padding-top: 41px;
  }
  .header__hero {
    display: block;
  }
  .header__title {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .nav__title {
    font-size: 12px;
  }

  .nav__list:not(:last-child) {
    margin-right: 39px;
  }
  .icon-user {
    margin-right: 8px;
  }
  .header-form__text {
    width: 336px;
  }
  .header-form__label {
    display: block;
  }
}
