.header__body-lib {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(/images/header/mylibheadmobile.jpeg);
  padding-top: 48px;
  padding-bottom: 65px;
  background-size: 100% 100%;
}

.header__serch {
  display: flex;
  justify-content: center;
}
.button__watch {
  padding: 14px 36px;
  background-color: initial;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 20px;
}
.button__watch:hover,
.button__watch:focus {
  background-color: #ff6b01;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.button__queue {
  padding: 14px 36px;
  background-color: initial;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
}
.button__queue:hover,
.button__queue:focus {
  background-color: #ff6b01;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

@media screen and (min-width: 768px) {
  .button__watch {
    margin-right: 15px;
  }
  .header__body-lib {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(/images/header/mylibtabl.jpeg);
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1024px) {
  .header__body-lib {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(/images/header/mylibdesk.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
