.help__button-thumb {
  position: fixed;
  top: 40vh;
  right: 0;
  z-index: 1000;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.help__button {
  position: relative;
  border-style: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  right: 10px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  width: 50px;
  height: 50px;
  background-color: $accent-color;
  border-radius: 40%;
}
.help__svg {
  fill: $form-text-color;
  width: 30px;
  height: 30px;
}
.button-scroll {
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-visible {
    opacity: 1;
    visibility: visible;
  }
}
.help__button-hint {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100px;
  box-shadow: 4px 4px 8px 0px $accent-color;
  border-radius: 5px;
  background-color: $primary-background-color;
  font-size: 16px;
  padding: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }
}

.help__modal {
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: 1000;

  background-color: $primary-background-color;
  width: 280px;
  padding: 20px;
  border: 4px solid $accent-color;

  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.isActive {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
}

.help__button-close-modal {
  position: absolute;
  top: 5px;
  right: 5px;

  width: 20px;
  height: 20px;
  padding: 0;
  border-style: none;
  background-color: transparent;

  cursor: pointer;
}
.help__button-close-modal-svg {
  fill: $primary-text-color;
  width: 20px;
  height: 20px;
}

.client-mail__text {
  font-size: 13px;
  margin-bottom: 30px;
  text-align: center;
  color: $accent-color;
}
.client-mail__label {
  margin-bottom: 20px;
  display: block;
}
.client-mail__input {
  width: 100%;
  height: 35px;
  padding: 2px 20px;

  border: 2px solid $accent-color;
  border-radius: 5px;

  &::placeholder {
    color: $third-text-color;
  }
}

.help__thanks {
  position: fixed;
  top: 80vh;
  right: 20px;
  box-shadow: 4px 4px 8px 0px $accent-color;
  border-radius: 5px;
  background-color: $primary-background-color;
  font-size: 16px;
  padding: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }
}
