.filter{
display: flex;
padding: 15px;
}


.filter__movie-sort,
.filter__movie-genres,
.filter__movie-year{
    
    display: block;
    font-size: 14px;
    line-height: 1.14;
    color: #545454;
}

.filter-link__sort,
.filter-link__genres,
.filter-link__year{
    margin-right: 15px;
    color: #545454;
    font-size: 16px;
    line-height: 1.19;
    transition: color $time-cubic;
}

.filter-link__sort:hover,
.filter-link__sort:focus,
.filter-link__genres:focus,
.filter-link__genres:hover,
.filter-link__year:focus,
.filter-link__year:hover{
    color: $accent-color;
}

.filter-link__play{
    display: block;
    width: 45px;
    height: 45px;
}


.filter-item__year:not(:last-child){
margin-right: 5px;
margin-bottom: 5px;
}


.filter-list__sort,
.filter-list__genres,
.filter-list__year{
    display: none;
}

.filter-list__year.open{
    width: 220px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.open{
    display: block;
    position: absolute;
    z-index: 1000;
    min-width: 150px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    background: $primary-background-color;
    border-radius: 3px;
    white-space: nowrap;
    // transition:  $time-cubic;

}


.filter-item__sort,
.filter-item__genres,
.filter-item__year{
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.14;
    color: $secondary-text-color;
    transition: color $time-cubic;

}

.filter-item__sort:hover,
.filter-item__sort:focus,
.filter-item__genres:hover,
.filter-item__genres:focus,
.filter-item__year:hover,
.filter-item__year:focus{
    color: $accent-color;
}

.filter-item__genres:not(:last-child){
margin-right: 5px;
}



