.backdrop-sing {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2000;

  &.is-hidden,
  .modal-signup.is-hidden,
  .modal-signin.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  @media screen and (max-width: 767px) {
    & {
      padding: 93px 12px;
    }
    & .is-hidden .modal-signup,
    & .is-hidden .modal-signin {
      transform: translateY(150%) scale(0.75);
    }
  }
  @media screen and (min-width: 768px) {
    & .is-hidden .modal-signup,
    & .is-hidden .modal-signin {
      transform: translate(-50%, 150%) scale(0.75);
    }
  }
}

.modal-signup,
.modal-signin {
  @extend %modal;
  @media screen and (max-width: 767px) {
    & {
      max-width: 450px;
    }
  }
  @media screen and (min-width: 768px) {
    & {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 450px;
    }
  }
  @media screen and (min-width: 1200px) {
    & {
      width: 528px;
      margin: 0;
    }
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-title-text-color;
  margin-top: 0;
  margin-bottom: 12px;
}
.modal__label-txt,
.signup-now__text{
  color: $secondary-title-text-color;
}
.modal__list-input {
  margin-bottom: 10px;
}

.modal__label {
  position: relative;
  display: flex;
  flex-direction: column;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  &+.modal__label{
    margin-top: 10px; 
  }
}
.modal__field-input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $accent-color;

    outline: 0;
  }
}

.modal__button {
  position: relative;
  overflow: hidden;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding: 10px 55px;
  color: $active-btn-text-color;
  cursor: pointer;

  letter-spacing: 0.06em;
  background: $active-btn-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  transition: All 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:active {
    top: 0.3em;
    left: 0.3em;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, 0.05) inset;
  }
  &::before {
    content: '';
    height: 100px;
    position: absolute;
    transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 200px;
  }
}
.modal__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal__label:hover &,
  .modal__label:focus & {
    fill: $primary-svg-color;
  }
}

.signin-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signup-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-now {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.signup-now__button {
  background: 0;
  border: 0;
  padding: 0;
  color: $active-btn-color;
  cursor: pointer;
  margin-left: 10px;
}

.signin-wpapper {
  visibility: visible;
  opacity: 1;
}

.signin-wpapper.load {
  visibility: hidden;
  opacity: 0;
}

.cl-btn-mod {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  cursor: pointer;
}
.cl-btn-mod-in {
  width: inherit;
  text-align: center;
}
.cl-btn-mod-txt {
  font-size: 9px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: $active-btn-color;
  transition: all 0.3s ease-in;
  opacity: 0;
  cursor: pointer;
  font-family: Verdana;
}
.cl-btn-mod-in:before,
.cl-btn-mod-in:after {
  position: absolute;
  content: '';
  height: 4px;
  width: inherit;
  background: $active-btn-color;
  left: 0;
  transition: all 0.3s ease-in;
}
.cl-btn-mod-in:before {
  top: calc(50% - 4px);
  transform: rotate(45deg);
}
.cl-btn-mod-in:after {
  bottom: 50%;
  transform: rotate(-45deg);
}
.cl-btn-mod:hover .cl-btn-mod-txt {
  opacity: 1;
}
.cl-btn-mod:hover .cl-btn-mod-in:before,
.cl-btn-mod:hover .cl-btn-mod-in:after {
  transform: rotate(0);
}
.cl-btn-mod:hover .cl-btn-mod-in:before {
  top: 0;
}
.cl-btn-mod:hover .cl-btn-mod-in:after {
  bottom: 0;
}

.modal__back {
  position: absolute;
  top: 5px;
  left: 7px;
  fill: $primary-svg-color;
}
