.modal {
  position: absolute;
  top: 20px;
  left: 50%;

  transform: translate(-50%, 0);
  background-color: $primary-background-color;
  padding: 48px 20px 41px 20px;
  @media screen and (min-width: $tablet-general) {
    padding: 42px 30px 40px 28px;
    transform: translate(-50%, -50%);
    top: 50%;
  }
  @media screen and (min-width: $desktop-up) {
    padding: 50px 30px 40px 30px;
  }
}

.content {
  min-width: 100px;
  min-height: 100px;
}

.modal__close-button-svg {
  fill: black;
  width: 14px;
  height: 14px;
  filter: drop-shadow(0 0 8px red);
}

.modal__close-button {
  position: absolute;
  background: none;
  outline: none;
  border: none;
  top: 10px;
  right: 10px;
  background-color: sandybrown;
  padding: 8px;
  &:focus,
  &:hover {
    filter: drop-shadow(0 0 8px red);
  }
}
