.modal {
  position: absolute;
  top: 20px;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all $time-cubic;
  transform: translate(-50%, 0) scale(0.9);
  background-color: $primary-background-color;
  @media screen and (min-width: $tablet-general) {
    transform: translate(-50%, -50%) scale(0.9);
    top: 50%;
  }
  @media screen and (min-width: $desktop-up) {
  }
}

.modal__content {
  min-width: 150px;
  min-height: 150px;
}

.modal__close-button-svg {
  fill: black;
  stroke: red;
  width: 14px;
  height: 14px;
  filter: drop-shadow(0 0 8px red);
  // background-color: #000;
}

.modal__close-button {
  position: absolute;
  background: none;
  outline: none;
  border: none;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: block;
  padding: 8px;
  transition: all $time-cubic;
  &:focus,
  &:hover {
    filter: drop-shadow(0 0 5px black);
  }
}

.modal_is-open {
  opacity: 1;
  pointer-events: initial;
  transform: translate(-50%, 0) scale(1);
  @media screen and (min-width: $tablet-general) {
    transform: translate(-50%, -50%) scale(1);
  }
}

// .element-color(@color) {
//   background-image: url('data:image/svg+xml;utf8,<svg ...><g stroke="@{color}" ... /></g></svg>');
// }
