.pagination {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
.numbers {
    display: flex;
}
.page-button-svg {
    width: 14px;
  height: 14px;
    pointer-events: none;
}

.next {
    transform: scale(-1, 1)
}
.page-button {
    width: 40px;
    height: 40px;
    background-color: inherit;
    //background: #FF6B08;
border-radius: 5px;
border: 0;
&:hover,
&:focus {

    background-color: #FF6B08;
    opacity: 0.5;
    //filter: drop-shadow(0 0 5px#ff6b08);
    //background-color: khaki;
    color: #ffffff;
    fill: #ffffff;
}
}
.arrow {
    background: #F7F7F7;
border-radius: 5px;
//visibility: hidden;
// transform: matrix(-1, 0, 0, 1, 0, 0);
}

.hidden {
  visibility: hidden;
  //disabled: true
  //pointer-events: none;
  
}

.active {
    background: #FF6B08;
    color: #ffffff;
    &:hover {
       opacity: 0.5;
    }
}

.mobile-hidden {
  display: none;
  //visibility: hidden; 
  @media screen and (min-width: $tablet-general) {
    visibility: visible;
    display: block;
  }
}
