.pagination-container {
    display: flex;
    justify-content: center;
    
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and (min-width: $tablet-general) {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
.pagination-container--hidden {
  display: none;
}
.pagination-numbers {
    display: flex;
}
.page-button {
  width: 40px;
  height: 40px;
    
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: $primary-btn-text-color;
  fill: $primary-text-color;
  background-color: $primary-btn-color;

  border-radius: 5px;
  border: 0;

  transform: all $time-cubic;
    
  &:hover {
    color: #ffffff;
    fill: #ffffff;
      
    background-color: $active-btn-color;
    opacity: 0.5;
  }
}
.arrow-button {
  background: $arrow-btn-color;
  
  &:disabled {
    color: #000000;
    fill: #000000;

    cursor: default;
      
    background-color: $arrow-btn-color;
    opacity: 0.5;
  }
}
.arrow-button--next {
    transform: scale(-1, 1)
}
.page-button--active {
  color: $active-btn-text-color;
  background: $active-btn-color;
}
.page-button--mobile-hidden {
  display: none;

  @media screen and (min-width: $tablet-general) {
    visibility: visible;
    display: block;
  }
}
.page-button-svg {
    width: 16px;
    height: 16px;
    pointer-events: none;
}
.hidden-arrow {
  display: none;
}
