.palitre {
  width: 280px;
  height: 280px;
  // outline: 1px solid slategrey;
  position: relative;
  @media screen and (min-width: $tablet-general) {
    width: 350px;
    height: 350px;
  }
  @media screen and (min-width: $desktop-up) {
    width: 600px;
    height: 600px;
  }
}

.palitre__dot {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 300px 300px;
  transform: rotate(90 deg);
  z-index: 1002;
  // transition: all 250ms;

  &::after {
    content: '';
    position: absolute;
    top: 130px;
    left: 130px;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    background-color: rgb(255, 255, 255);
    outline: 3px solid black;
    box-shadow: 0 0 10px rgba(#000, 0.5);
  }
}
.palitre__ring {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 450px;
  height: 450px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(#000, 0.5);
  background: radial-gradient(
      circle at 50% 0,
      hsl(0%, 100%, 50%, 1) 10%,
      hsl(0%, 100%, 50%, 0) 35%
    ),
    radial-gradient(
      circle at 100% 21%,
      hsl(60%, 100%, 50%, 1) 10%,
      hsl(60%, 100%, 50%, 0) 35%
    ),
    radial-gradient(
      circle at 100% 79%,
      hsl(120%, 100%, 50%, 1) 10%,
      hsl(120%, 100%, 50%, 0) 35%
    ),
    radial-gradient(
      circle at 50% 100%,
      hsl(180%, 100%, 50%, 1) 10%,
      hsl(180%, 100%, 50%, 0) 35%
    ),
    radial-gradient(
      circle at 0% 79%,
      hsl(235%, 100%, 50%, 1) 10%,
      hsl(235%, 100%, 50%, 0) 35%
    ),
    radial-gradient(
      circle at 0% 21%,
      hsl(300%, 100%, 50%, 1) 10%,
      hsl(300%, 100%, 50%, 0) 35%
    );
  &::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: #ffffff;
    border-radius: 50%;
    top: 10%;
    left: 10%;
    box-shadow: inset 0 0 10px rgba(#000, 0.5);
  }
}

.palitre__current-color {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #f0c433; //selected color
  border-radius: 50%;
  width: 70px;
  height: 70px;
  transform: translate(-50%, -50%);
  font-size: 12px;
  box-shadow: 0 0 10px rgba(#000, 0.5);
  @media screen and (min-width: $tablet-general) {
    width: 90px;
    height: 90px;
    font-size: 16px;
  }
  @media screen and (min-width: $desktop-up) {
    width: 200px;
    height: 200px;
    font-size: 36px;
  }
}

.palitre__current-color::before {
  content: 'Theme';
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  color: #ffffff;
}

.palitre__current-color::after {
  content: 'Theme';
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%);
  color: black;
}

.palitre__brightness {
  // width: 100%;
  // height: 100%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 1px solid rgb(0, 255, 21);
}

.palitre__saturation {
  // width: 100%;
  // height: 100%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // cursor: pointer;
  outline: 1px solid rgb(76, 0, 255);
}

// .palitre__ring {
//   overflow: hidden;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   outline: 1px solid red;

// }
