@media screen and (min-width: $tablet-general) {
  html,
  body {
    overflow: overlay;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }
}
