.page-error{
    text-align: center;
    display: block;
    font-size: 14px;
}
.error{
        display: block;
        font-size: 150px;
}
.error-text{
    font-size: 40px;
    line-height: 1.17;
    color: $third-text-color;
}

