
.hiden{
    @extend %hide;
}

img{
display: inline;
}

.page-error {
    display: block;
    height: 100vh;
    text-align: center;
    display: block;
    font-size: 14px;

}
.page-error__serv{
     text-align: center;
    display: block;
    font-size: 14px;
}

.error{
        display: block;
        font-size: 150px;
}
.error-text{
    font-weight: 500;
  font-size: 30px;
  line-height: 20px;
  color: $primary-text-color;
  margin-bottom: 21px;
}

.global-button-error{
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    border: $button-border;
  box-sizing: border-box;
  border-radius: 5px;
  height: 44px;
  width: 113px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $primary-text-color;
  background: none;
  justify-content: center;
  transition: all $time-cubic;
  @media screen and (min-width: $tablet-general) {
    width: 300px;
  }
  @media screen and (min-width: $desktop-up) {
    width: 400px;
  
  }
  &:hover,
  &:focus {
    background: $second-accent-btn-color;
    color: $accent-btn-color;
    border-color: $second-accent-btn-color;
  }
}






