.gallery {
  padding-top: 20px;
  padding-bottom: 40px;
  @media screen and (min-width: $desktop-up) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.gallery-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -15px;
}
