.modal-theme {
  position: relative;
  padding: 0px 0 85px 0;
}
.modal-theme__scroll-box {
  max-height: calc(100vh - 120px);
  overflow: scroll;
  padding: 10px 20px 0 20px;
  @media screen and (min-width: $tablet-general) {
    padding: 0 20px 0 20px;
  }
  @media screen and (min-width: $desktop-up) {
    padding: 0 30px 0 30px;
  }
}

.modal-theme__dark-box {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 3001;
}

.modal-theme__button-box {
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 41px;
  left: 0;
  @media screen and (min-width: $desktop-up) {
  }
}
