.modal-one-movie {
  position: relative;
  padding: 48px 0 106px 0;
  @media screen and (min-width: $tablet-general) {
    display: flex;
    justify-content: space-between;
    padding: 42px 0 40px 0;
  }
  @media screen and (min-width: $desktop-up) {
    padding: 50px 0 40px 0;
  }
}
.modal-one-movie__scroll-box {
  max-height: calc(100vh - 195px);
  overflow: scroll;
  padding: 0 20px 0 20px;
  @media screen and (min-width: $tablet-general) {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 28px;
  }
  @media screen and (min-width: $desktop-up) {
    padding: 0 30px 0 30px;
  }
}

.modal-one-movie__image-box {
  display: flex;
  justify-content: center;
  @media screen and (min-width: $tablet-general) {
    margin-right: 32px;
  }
}

.modal-one-movie__text-box {
  width: 240px;
  @media screen and (min-width: $tablet-general) {
    width: 264px;
  }
  @media screen and (min-width: $desktop-up) {
    width: 396px;
  }
}

.modal-one-movie__image {
  width: 240px;
  height: 357px;
  border-radius: 5px;
  background-color: $fourth-background-color;
  margin-bottom: 30px;
  overflow: hidden;
  @media screen and (min-width: $tablet-general) {
    width: 264px;
    height: 374px;
  }
  @media screen and (min-width: $desktop-up) {
    width: 396px;
    height: 478px;
  }
}

.modal-one-movie__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: $primary-title-text-color;
  margin-bottom: 20px;
  text-transform: uppercase;
  @media screen and (min-width: $desktop-up) {
    font-size: 30px;
    line-height: 35px;
  }
}

.modal-one-movie__table {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.modal-one-movie__caption {
  @extend %hide;
}

.modal-one-movie__table--first-list {
  color: $secondary-text-color;
  width: 108px;
  @media screen and (min-width: $desktop-up) {
    width: 152px;
  }
}

.modal-one-movie__table--second-list {
  color: $primary-text-color;
}

.modal-one-movie__table--row,
.modal-one-movie__table--first-list,
.modal-one-movie__table--second-list {
  padding: 5px 0;
}

.modal-one-movie__original-title {
  text-transform: uppercase;
}

.modal-one-movie__text-box-accent {
  padding: 1px 10px;
  background: $second-accent-btn-color;
  border-radius: 5px;
  margin-right: 11px;
  color: $secondary-title-text-color;
  position: relative;
  &::after {
    content: '/';
    color: $secondary-text-color;
    position: absolute;
    transform: translate(14px);
  }
}

.modal-one-movie__about {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: $primary-text-color;
  margin-bottom: 10px;
}

.modal-one-movie__about-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: $primary-text-color;
  margin-bottom: 21px;
}

.modal-one-movie__button-box {
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 41px;
  left: 0;
  @media screen and (min-width: $tablet-general) {
    position: static;
    padding: 0;
  }
  @media screen and (min-width: $desktop-up) {
    justify-content: start;
  }
}
