.ourteam__container {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: $secondary-text-color $primary-background-color;
  scrollbar-width: thin;
  background-color: $primary-background-color;
  font-family: $primary-font-family;
  font-size: 12px;
  width: 300px;
  max-width: 528px;
  max-height: 100vh;
  padding: 30px 20px 30px 20px;
  color: $primary-text-color;

  @media screen and (min-width: $tablet-general) and (max-width: $tablet-only) {
    margin: auto;
    width: 628px;
    height: 628px;
    padding: 30px;
  }
  @media screen and (min-width: $desktop-up) {
    min-width: 900px;
    height: 700px;
    padding: 30px;
  }
}
.ref__github {
  list-style: none;
  color: $primary-text-color;
}
// Title
.title-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  @media screen and (min-width: $tablet-general) and (max-width: $tablet-only) {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  @media screen and (min-width: $desktop-up) {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

.ourteam__title {
  font-size: 20px;
  &:hover {
    color: $selection-text-color;
  }

  @media screen and (min-width: $tablet-general) and (max-width: $tablet-only) {
    line-height: 1.16;
    margin-bottom: 20px;
    @media screen and (min-width: $desktop-up) {
      margin-top: 10px;
      margin-bottom: 40px;
      font-size: 28px;
    }
  }
}
.goit-logo {
  height: 24px;
  width: 65px;
  margin-right: 10px;
  @media screen and (min-width: $tablet-general) and (max-width: $tablet-only) {
    height: 23px;
    width: 65px;
    margin-right: 15px;
  }
  @media screen and (min-width: $desktop-up) {
    height: 24px;
    width: 80px;
    margin-right: 15px;
  }
}

// Member's card
.ourteam__content {
  text-align: center;
  margin: 0 -5px -32px -5px;
  @media screen and (min-width: $tablet-general) and (max-width: $tablet-only) {
    margin: 0 -20px -32px -16px;
  }
  @media screen and (min-width: $desktop-up) {
    margin: 0 -16px -32px -16px;
  }
}
.ourteam__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ourteam__item {
  position: relative;
  border-radius: 0px 0px 4px 4px;
  margin: 0 5px 32px 5px;
  width: calc((100% - 20px * 1) / 2);

  @media screen and (max-width: $tablet-only) {
    &:first-child {
      text-align: center;
    }
  }

  @media screen and (min-width: $tablet-general) and (max-width: $tablet-only) {
    width: 140px;
  }
  @media screen and (min-width: $desktop-up) {
    width: calc((100% - 5px * 5) / 6);
    margin: 0 16px 32px 16px;
  }
}
.image__scale {
  display: inline-block;

  margin: auto;
  width: 100px;
  height: 100px;

  margin-bottom: 5px;
  position: relative;
  @media screen and (min-width: $tablet-general) and (max-width: $tablet-only) {
    margin-bottom: 10px;
    width: 140px;
    height: 140px;
  }
  @media screen and (min-width: $desktop-up) {
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
  }
}
.ourteam__image {
  border-radius: 60px;
  overflow: hidden;
  transition: transform $time-cubic;

  &:hover {
    transform: scale(1.1);
  }
}
.ourteam__subtitle {
  font-size: 12px;
  @media screen and (min-width: $tablet-general) and (max-width: $tablet-only) {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 1;
  }
  @media screen and (min-width: $desktop-up) {
    margin-bottom: 5px;
    font-size: 14px;

    line-height: 1.15;
  }
}

.ourteam__text {
  color: $accent-color;
  line-height: 1.12;
  @media screen and (min-width: $tablet-general) and (max-width: $tablet-only) {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1.15;
  }
  @media screen and (min-width: $desktop-up) {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.1;
  }
}

.social__icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0;

  @media screen and (min-width: $tablet-general) and (max-width: $tablet-only) {
    width: 30px;
    height: 30px;
  }
  @media screen and (min-width: $desktop-up) {
    width: 30px;
    height: 30px;
  }
}
