<section class='help'>
  <div class='help__button-thumb'>
    <button
      class='help__button button-scroll'
      type='button'
      aria-label='scroll to top'
    >
      <span class='help__button-hint'>Scroll to top</span>
      <svg class='help__svg'>
        <use href='{{svg}}#icon-arrow-up'></use>
      </svg>
    </button>
    <button
      class='help__button button-subscribe'
      type='button'
      aria-label='subscribe'
    >
      <span class='help__button-hint'>Subscribe</span>
      <svg class='help__svg'>
        <use href='{{svg}}#icon-bell'></use>
      </svg>
    </button>
    <button
      class='help__button'
      type='button'
      aria-label='settings'
      id='modal-settings'
    >
      <span class='help__button-hint'>Settings</span>
      <svg class='help__svg'>
        <use href='{{svg}}#icon-gear-fill'></use>
      </svg>
    </button>
  </div>
  <div class='help__modal'>
    <button class='help__button-close-modal' type='button' aria-label='close'>
      <svg class='help__button-close-modal-svg'>
        <use href='{{svg}}#icon-x'></use>
      </svg>
    </button>
    <form name='client-mail' class='client-mail__form'>
      <p class='client-mail__text'>Signup for our weekly newsletter to get the
        latest news, updates and amazing offers delivered directly in your
        inbox.</p>

      <label class='client-mail__label' for='tel'>
        <input
          class='client-mail__input'
          type='email'
          id='mail'
          name='user-mail'
          placeholder='***@mail.com'
          required
          pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\\\.[a-z]{2,4}$'
          title='***@mail.com'
        />
      </label>

      <button
        class='help__form-button client-mail__button'
        type='submit'
        aria-label='subscribe'
      >Subscribe</button>
    </form>
  </div>
  <p class='help__thanks'>
    Thank you for subscribtion!
  </p>
</section>