<div class='page-error__serv container'>
  <h3 class='hiden'>Erro Page</h3>
  <p class='error-text'>There were temporary difficulties</p>
  <div><img src='{{{imgMainError}}}' alt='404 error' loading="lazy" width='274' height='398' /></div>
  <span class='error-text'>Use the resource later</span>
</div>