<div class='page-error__serv container'>
  <h3 class='hiden'>Erro Page</h3>
  <p class='error-text'>Возникли временные трудности</p>
  <div><img src='{{{imgMainError}}}' alt='404 error' /></div>
  <span class='error-text'>Воспользуйтесь ресурсом позже</span>
</div>