<div class='page-error container'>
  <div><img
      src='{{{img}}}'
      alt='404 error'
      loading='lazy'
      width='274'
      height='398'
    /></div>
  <span class='error-text'>Oops... something went wrong</span>
  <button class='global-button-error error__button' aria-label='back'>Go back to
    main page</button>
</div>