<div class="page-error__serv container">
    <p class="error">4️⃣0️⃣4️⃣⛔️</p>
    {{!-- <img src="{{{img}}}" alt=""> --}}
    <span class="error-text">Упс.... Что то пошло не так</span>
    <button class="error__button">Вернуться на главную страницу</button>
</div>