<div class="page-error container">
    <p class="error">👻 </p>
    {{!-- <img src="{{{img}}}" alt=""> --}}
    <span class="error-text">Упс.... Что то пошло не так</span>
    <button class="error__button">Вернуться на главную страницу</button>
</div>