<div class="page-error container">
    <div><img src="{{{img}}}" alt=""></div>
    <span class="error-text">Упс...Что то пошло не так</span>
    <button class=" global-button error__button">Вернуться на главную страницу</button>
</div>