<div class='page__error container'>
  <div><img src='{{{img}}}' alt='404 error' loading='lazy' width='274' height='398' /></div>
  <span class='error__text'>Incorrect request. Page not found</span>
  <button class='button__error error__button' aria-label='back'>Go back to
    main page</button>
</div>