<div class="filter_panel card container">
    <h2>Сортировать</h2>
    <div class="filter">
        <h3>Сортировать результаты по</h3>
        <ul class="filter-list">
            <li class="filter-list_item">Популярности(убывание)</li>
            <li class="filter-list_item">Популярности (убывание)</li>
            <li class="filter-list_item">Популярности (возрастание)</li>
            <li class="filter-list_item">Рейтингу (убывание)</li>
            <li class="filter-list_item">Рейтингу (возрастание)</li>
            <li class="filter-list_item">Дате выпуска (убывание)</li>
            <li class="filter-list_item">Дате выпуска (возрастание)</li>
            <li class="filter-list_item">Названию (А-Я)</li>
            <li class="filter-list_item">Названию (Я-А)</li>

        </ul>
    </div>
</div>