<div class='modal'>
  <div class='modal__content'>
    {{!-- {{{modalContent}}} --}}
  </div>
  <button type='button' data-action='close-modal' class='modal__close-button'>
    <svg class='modal__close-button-svg'>
      <use href='./images/svg/sprite.svg#icon-heart'></use>
    </svg>
  </button>
</div>