<div class='modal'>
  <div class='modal__content'>
  </div>
  <button type='button' data-action='close-modal' class='modal__close-button' id='close-modal'>
    <svg class='modal__close-button-svg'>
      <use href={{{svg}}}#icon-close-modal></use>
    </svg>
  </button>
</div>