<div class='modal'>
  <div class='modal__content'>
  </div>
  <button type='button' data-action='close-modal' class='modal__close-button close-button-js' id='close-modal' aria-label="close">
    <svg class='modal__close-button-svg close-button-js'>
      <use class="close-button-js" href={{{svg}}}#icon-close-modal></use>
    </svg>
  </button>
</div>