<ul class='pagination-list'>
    </li>
    {{#each this}}
    <li class="page-item">
        <button class="{{this.classes}}"aria-label="back" {{#if this.step}} data-move="{{this.step}}" {{/if}}>
            {{{this.page}}}
        </button>
    </li>
    {{/each}}
</ul>