<nav aria-label="page-navigation">
    <ul class="pagination">
        <li class="page-item">
            <button class="page-button arrow previous">
                <svg class='page-button-svg'>
                    <use href={{{svg}}}#arrow-left></use>
            </button>
        </li>
        <div class="numbers">

        </div>
        <li class="page-item">
            <button class="page-button arrow next">
                <svg class='page-button-svg'>
                    <use href={{{svg}}}#arrow-left></use>
            </button>
        </li>
    </ul>
</nav>