<ul class='pagination-list'>
    </li>
    {{#each this}}
    <li class="page-item">
        <button class="{{this.classes}}">
            {{{this.page}}}
        </button>
    </li>
    {{/each}}
</ul>