<div class="pagination-container">
    <button class="page-button arrow previous">
        <svg class='page-button-svg'>
            <use href={{{svg}}}#icon-arrow-left></use>
    </button>
    <ul class="pagination-numbers">
    </ul>
    <button class="page-button arrow next">
        <svg class='page-button-svg'>
            <use href={{{svg}}}#icon-arrow-left></use>
    </button>
</div>