<button class="page-button arrow-button arrow-button--previous">
    <svg class='page-button-svg'>
        <use href={{{svg}}}#icon-arrow-left></use>
</button>
<ul class="pagination-numbers">

</ul>
<button class="page-button arrow-button arrow-button--next">
    <svg class='page-button-svg'>
        <use href={{{svg}}}#icon-arrow-left></use>
</button>